# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build artifacts
dist
build

# Ignore coverage reports
coverage

# Ignore IDE specific files
.vscode
.idea

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore any temporary files
*.tmp
*.temp